<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [2]:
# Carga el dataset de trabajo
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [3]:
netflix_original = pd.read_csv("datos/netflix_originals.csv")
netflix_original.drop(columns = ["Unnamed: 0"], inplace=True)
netflix_original

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
508,Cuba and the Cameraman,Documentary,"November 24, 2017",114,8.3,English
509,Dancing with the Birds,Documentary,"October 23, 2019",51,8.3,English
510,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
511,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
512,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [4]:
netflix_titles =pd.read_csv("datos/netflix_titles.csv")
netflix_titles.drop(columns = ["show_id","Unnamed: 0"], inplace=True)
netflix_titles

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,NaN,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,NaN,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...
8802,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,NaN,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [5]:
netflix_original.rename(columns={'Title': 'title'}, inplace=True)
df= pd.merge(netflix_titles, netflix_original, on=["title"], how='outer')
df.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
0,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,NaN,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ...",NaN,NaN,NaN,NaN,NaN
1,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,NaN,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol...",NaN,NaN,NaN,NaN,NaN
2,Movie,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018,TV-G,NaN,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ...",NaN,NaN,NaN,NaN,NaN
3,Movie,#FriendButMarried 2,Rako Prijanto,"Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,"June 28, 2020",2020,TV-G,104 min,"Dramas, International Movies, Romantic Movies",As Ayu and Ditto finally transition from best ...,NaN,NaN,NaN,NaN,NaN
4,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,NaN,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [6]:
condicion_movie=df["type"]=="Movie"
condicion_2021=df["release_year"]==2021

df_2021_Movie=df[condicion_2021&condicion_2021]
df_2021_Movie.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
112,TV Show,50M2,NaN,"Engin Öztürk, Kürşat Alnıaçık, Cengiz Bozkurt,...",Turkey,"January 27, 2021",2021,TV-MA,NaN,"International TV Shows, TV Dramas, TV Thrillers","Seeking to uncover the truth about his past, a...",NaN,NaN,NaN,NaN,NaN
128,Movie,7 Yards: The Chris Norton Story,Jonathon Link,Chris Norton,United States,"March 30, 2021",2021,TV-PG,NaN,Documentaries,The true story of former college football play...,NaN,NaN,NaN,NaN,NaN
141,Movie,99 Songs,Vishwesh Krishnamoorthy,"Ehan Bhat, Edilsy Vargas, Manisha Koirala, Lis...",India,"May 21, 2021",2021,TV-14,131 min,"Dramas, International Movies, Music & Musicals",Challenged to compose 100 songs before he can ...,NaN,NaN,NaN,NaN,NaN
142,Movie,99 Songs (Tamil),NaN,NaN,NaN,"May 21, 2021",2021,TV-14,131 min,"Dramas, International Movies, Music & Musicals",Challenged to compose 100 songs before he can ...,NaN,NaN,NaN,NaN,NaN
143,Movie,99 Songs (Telugu),NaN,NaN,NaN,"May 21, 2021",2021,TV-14,131 min,"Dramas, International Movies, Music & Musicals",Challenged to compose 100 songs before he can ...,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [7]:
condicion_90m=df["duration"]=="90 min"

df_90m=df[condicion_90m].filter(["title","duration"])
df_90m.head()

                title duration
9    #cats_the_mewvie   90 min
29       12 ROUND GUN   90 min
32         13 Cameras   90 min
52                1BR   90 min
155  A Champion Heart   90 min

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [8]:
condicion_india=df["country"].str.contains('India',na=False)
condicion_a2018=df['release_year']>2018

df_india_a2018=df[condicion_india&condicion_a2018]
df_india_a2018[['title','country','release_year']]

                            title country  release_year
41                      15 August   India          2019
42                         15-Aug   India          2019
124                     7 (Seven)   India          2019
130                           706   India          2019
139                         90 ML   India          2019
...                           ...     ...           ...
8517           What Are the Odds?   India          2020
8652           World Famous Lover   India          2020
8694                   Yeh Ballet   India          2020
8738  Yours Sincerely, Kanan Gill   India          2020
8766             Zindagi in Short   India          2020

[205 rows x 3 columns]

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [9]:
condicion_TV14=df["rating"]=='TV-14'
condicion_R=df['rating']=='R'

df_TV14_R=df[condicion_TV14|condicion_R]
df_TV14_R

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
1,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,NaN,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol...",NaN,NaN,NaN,NaN,NaN
4,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,NaN,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...,NaN,NaN,NaN,NaN,NaN
9,Movie,#cats_the_mewvie,Michael Margolis,NaN,Canada,"February 5, 2020",2020,TV-14,90 min,"Documentaries, International Movies",This pawesome documentary explores how our fel...,NaN,NaN,NaN,NaN,NaN
10,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,NaN,Comedies,When nerdy high schooler Dani finally attracts...,NaN,NaN,NaN,NaN,NaN
16,Movie,1 Mile to You,Leif Tilden,"Billy Crudup, Graham Rogers, Liana Liberato, S...",United States,"July 7, 2017",2017,TV-14,NaN,"Dramas, Romantic Movies, Sports Movies",After escaping the bus accident that killed hi...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8798,Movie,​Maj Rati ​​Keteki,Santwana Bardoloi,"Adil Hussain, Shakil Imtiaz, Mahendra Rabha, S...",India,"September 15, 2018",2017,TV-14,117 min,"Dramas, International Movies",A successful writer returns to the town that l...,NaN,NaN,NaN,NaN,NaN
8799,Movie,​Mayurakshi,Atanu Ghosh,"Soumitra Chatterjee, Prasenjit Chatterjee, Ind...",India,"September 15, 2018",2017,TV-14,NaN,"Dramas, International Movies",When a middle-aged divorcee returns to Kolkata...,NaN,NaN,NaN,NaN,NaN
8800,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...,NaN,NaN,NaN,NaN,NaN
8801,Movie,​​Kuch Bheege Alfaaz,Onir,"Geetanjali Thapa, Zain Khan Durrani, Shray Rai...",India,"September 1, 2018",2018,TV-14,110 min,"Dramas, Independent Movies, International Movies",After accidentally connecting over the Interne...,NaN,NaN,NaN,NaN,NaN
8803,TV Show,海的儿子,NaN,"Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,"April 27, 2018",2016,TV-14,NaN,"International TV Shows, TV Dramas","Two brothers start a new life in Singapore, wh...",NaN,NaN,NaN,NaN,NaN

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [10]:
condicion_Christopher=df["director"]=='Christopher Nolan'
condicion_Martin=df['director']=='Martin Scorsese'

df_Christopher_Martin=df[condicion_Martin|condicion_Christopher]
df_Christopher_Martin.shape
df_Christopher_Martin.shape
print(f"Dirigidas por Christopher o Martin:{df_Christopher_Martin.shape[0]}")
print(f"Dirigidas por Christopher:{df[condicion_Christopher].shape[0]}")
print(f"Dirigidas por Martin:{df[condicion_Martin].shape[0]}")

Dirigidas por Christopher o Martin:13
Dirigidas por Christopher:1
Dirigidas por Martin:12

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [11]:
condicion_EEUU=df["country"].str.contains('United States',na=False)
condicion_Canada=df["country"].str.contains('Canada',na=False)
condicion_UK=df["country"].str.contains('United Kingdom',na=False)
df_1=df[condicion_EEUU|condicion_Canada|condicion_UK]
condicion_language=df_1['Language'].str.contains('/',na=False)
df_language=df_1[condicion_language]
print(f'Peliculas con más de un lenguage:{df_language.shape[0]}')

Peliculas con más de un lenguage:19

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [12]:
titles2015_2020=df['release_year'].between(2015,2020, inclusive='both')
df[titles2015_2020]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
0,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,NaN,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ...",NaN,NaN,NaN,NaN,NaN
1,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,NaN,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol...",NaN,NaN,NaN,NaN,NaN
2,Movie,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018,TV-G,NaN,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ...",NaN,NaN,NaN,NaN,NaN
3,Movie,#FriendButMarried 2,Rako Prijanto,"Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,"June 28, 2020",2020,TV-G,104 min,"Dramas, International Movies, Romantic Movies",As Ayu and Ditto finally transition from best ...,NaN,NaN,NaN,NaN,NaN
4,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,NaN,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8801,Movie,​​Kuch Bheege Alfaaz,Onir,"Geetanjali Thapa, Zain Khan Durrani, Shray Rai...",India,"September 1, 2018",2018,TV-14,110 min,"Dramas, Independent Movies, International Movies",After accidentally connecting over the Interne...,NaN,NaN,NaN,NaN,NaN
8803,TV Show,海的儿子,NaN,"Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,"April 27, 2018",2016,TV-14,NaN,"International TV Shows, TV Dramas","Two brothers start a new life in Singapore, wh...",NaN,NaN,NaN,NaN,NaN
8804,TV Show,마녀사냥,NaN,"Si-kyung Sung, Se-yoon Yoo, Dong-yup Shin, Ji-...",South Korea,"February 19, 2018",2015,TV-MA,NaN,"International TV Shows, Korean TV Shows, Stand...",Four Korean celebrity men and guest stars of b...,NaN,NaN,NaN,NaN,NaN
8805,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...,NaN,NaN,NaN,NaN,NaN
8806,Movie,최강전사 미니특공대 : 영웅의 탄생,Young Jun Lee,"Um Sang-hyun, Yang Jeong-hwa, Jeon Tae-yeol, S...",NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range...",NaN,NaN,NaN,NaN,NaN

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [13]:
condicion_imd=df['IMDB Score'].between(6.5,8.0, inclusive='both')
df[condicion_imd]['IMDB Score']
#df[condicion_imd]['IMDB Score'].unique()

70      6.8
129     6.8
146     6.5
177     6.8
198     6.8
       ...
8322    6.7
8522    7.6
8534    6.6
8694    7.6
8768    7.2
Name: IMDB Score, Length: 208, dtype: float64

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [19]:
condicion_90m=df['duration']=='90 min'
condicion_150m=df['duration']=='150 min'
df[condicion_90m|condicion_150m]
#df[condicion_90m|condicion_150m]['duration'].unique()

array(['90 min', '150 min'], dtype=object)

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [22]:
condiciontvshow=df['type']=='TV Show'
condicionLove=df['title'].str.contains('Love', na=False)
df[condicionLove&condiciontvshow]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
202,TV Show,A Little Thing Called First Love,NaN,"Lai Kuan-lin, Zhao Jinmai, Wang Runze, Chai We...",China,"October 26, 2019",2019,TV-G,NaN,"International TV Shows, Romantic TV Shows, Tee...",A shy college student with a knack for drawing...,NaN,NaN,NaN,NaN,NaN
203,TV Show,A Love So Beautiful,NaN,"Kim Yo-han, So Joo-yeon, Yeo Hoi-hyun, Jeong J...",South Korea,"December 28, 2020",2020,TV-PG,NaN,"International TV Shows, Romantic TV Shows, TV ...",Love is as tough as it is sweet for a lovestru...,NaN,NaN,NaN,NaN,NaN
318,TV Show,Accidentally in Love,NaN,"Junchen Guo, Yi Ning Sun, Yi Qin Zhao, Mu Xuan...",China,"October 19, 2018",2018,TV-14,NaN,"International TV Shows, Romantic TV Shows, TV ...","Rejecting the demands of her wealthy family, a...",NaN,NaN,NaN,NaN,NaN
363,TV Show,Age Gap Love,NaN,Fay Ripley,United Kingdom,"July 12, 2019",2017,TV-MA,NaN,"British TV Shows, Reality TV, Romantic TV Shows",Despite the social backlash and challenges tha...,NaN,NaN,NaN,NaN,NaN
378,TV Show,Ainori Love Wagon: African Journey,NaN,"Becky, Ryo Kato, Karina Maruyama, Kohei Takeda",Japan,"January 30, 2020",2019,TV-14,NaN,"International TV Shows, Reality TV, Romantic T...","To find love, seven strangers leave Japan and ...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8451,TV Show,Was It Love?,NaN,"Song Ji-hyo, Son Ho-jun, Song Jong-ho, Koo Ja-...",South Korea,"July 9, 2020",2020,TV-14,NaN,"International TV Shows, Korean TV Shows, Roman...",When four very different men appear in her lif...,NaN,NaN,NaN,NaN,NaN
8462,TV Show,Way Back into Love,NaN,"June Tsai, Ray Chang, Lung Shao-hua, Yi-Wen Ye...",Taiwan,"December 24, 2018",2011,TV-14,NaN,"International TV Shows, Romantic TV Shows, TV ...","After years in the U.S., a Taiwanese immigrant...",NaN,NaN,NaN,NaN,NaN
8506,TV Show,Well-Intended Love,NaN,"Xu Kaicheng, Simona Wang, Ian Yi, Huang Qian S...",China,"April 1, 2020",2020,TV-14,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...","To secure a bone marrow donation, an actress d...",NaN,NaN,NaN,NaN,NaN
8525,TV Show,What Is Love?,NaN,"Chris Wu, Jade Chou, Duncan Lai, King Chin, Ki...",Taiwan,"January 1, 2017",2012,TV-14,NaN,"International TV Shows, Romantic TV Shows, TV ...",A 32-year-old romantic looking for a long-term...,NaN,NaN,NaN,NaN,NaN
8542,TV Show,What the Love! with Karan Johar,NaN,Karan Johar,United States,"January 30, 2020",2020,TV-14,NaN,"International TV Shows, Reality TV, Romantic T...",With help from celebrity guests and a glam squ...,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [26]:
condicion1=df['director'].str.contains('Johnson', na=False)
df[condicion1].head()
#print(f'{df[condicion1].shape[0]} titulos')

25 titulos

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [50]:
condicion1=df['listed_in'].str.contains('Documentaries', na=False)
condicion2=df['cast'].str.contains('Mike Tyson', na=False, regex=False)
print(f'Mike Tyson tiene {df[condicion1&condicion2].shape[0]} documental')
df[condicion1&condicion2]

Mike Tyson tiene 1 documental

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
8229,Movie,Tyson,James Toback,"Mike Tyson, Trevor Berbick","United States, France","March 1, 2019",2008,R,90 min,"Documentaries, Sports Movies","In this surprisingly emotional documentary, he...",NaN,NaN,NaN,NaN,NaN

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [35]:
df[['title','country','release_year']]

                              title      country  release_year
0                            #Alive  South Korea          2020
1     #AnneFrank - Parallel Stories        Italy          2019
2                 #FriendButMarried    Indonesia          2018
3               #FriendButMarried 2    Indonesia          2020
4                             #Roxy       Canada          2018
...                             ...          ...           ...
8802                       忍者ハットリくん        Japan          2012
8803                           海的儿子          NaN          2016
8804                           마녀사냥  South Korea          2015
8805                        반드시 잡는다  South Korea          2017
8806            최강전사 미니특공대 : 영웅의 탄생          NaN          2018

[8807 rows x 3 columns]

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [40]:
df.filter(like='date').head()

          date_added
0  September 8, 2020
1       July 1, 2020
2       May 21, 2020
3      June 28, 2020
4     April 10, 2019

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [52]:
df_query=df.query("country=='France' and duration == '80 min' ")
df_query

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
639,Movie,Arès,Jean-Patrick Benes,"Ola Rapace, Micha Lescot, Thierry Hancisse, Hé...",France,"May 23, 2017",2016,TV-MA,80 min,"Action & Adventure, International Movies, Sci-...",A futuristic France tries to keep its people f...,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [59]:
condicion1=df['type'].str.contains('Movie', na=False)
condicion2=df['release_year']<2010
print(df[condicion1&condicion2].shape[0])
print(df[condicion1&condicion2]['type'].unique())
print(df[condicion1&condicion2]['release_year'].unique())
df[condicion1&condicion2]

1153
['Movie']
[2008 2006 2009 1997 2000 2003 1989 2004 1977 1971 1993 2007 1998 1988
 1996 2002 1986 1990 1979 1980 1974 2001 1999 1992 1966 1991 1982 2005
 1994 1995 1978 1972 1975 1973 1967 1960 1981 1958 1976 1983 1968 1956
 1985 1965 1984 1987 1945 1946 1962 1964 1942 1969 1955 1963 1954 1970
 1961 1944 1947 1959 1943]

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
19,Movie,"10,000 B.C.",Roland Emmerich,"Steven Strait, Camilla Belle, Cliff Curtis, Jo...","United States, South Africa","June 1, 2019",2008,PG-13,NaN,Action & Adventure,Fierce mammoth hunter D'Leh sets out on an imp...,NaN,NaN,NaN,NaN,NaN
43,Movie,16 Blocks,Richard Donner,"Bruce Willis, Mos Def, David Morse, Jenna Ster...","United States, Germany","November 1, 2019",2006,PG-13,NaN,Action & Adventure,Tasked with escorting a prosecution witness to...,NaN,NaN,NaN,NaN,NaN
44,Movie,17 Again,Burr Steers,"Zac Efron, Leslie Mann, Matthew Perry, Thomas ...",United States,"January 1, 2021",2009,PG-13,NaN,Comedies,"Nearing a midlife crisis, thirty-something Mik...",NaN,NaN,NaN,NaN,NaN
46,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...,NaN,NaN,NaN,NaN,NaN
48,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8777,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,NaN,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,NaN,NaN,NaN,NaN
8778,Movie,Zoot Suit,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",United States,"April 15, 2021",1981,R,NaN,"Cult Movies, Dramas, Music & Musicals","In this drama based on a 1940s trial, the memb...",NaN,NaN,NaN,NaN,NaN
8779,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,NaN,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,NaN,NaN,NaN,NaN,NaN
8785,Movie,Æon Flux,Karyn Kusama,"Charlize Theron, Marton Csokas, Jonny Lee Mill...",United States,"February 1, 2018",2005,PG-13,NaN,"Action & Adventure, Sci-Fi & Fantasy","Aiming to hasten an uprising, the leader of an...",NaN,NaN,NaN,NaN,NaN
8793,Movie,الف مبروك,Ahmed Nader Galal,"Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...",Egypt,"April 25, 2020",2009,TV-14,NaN,"Comedies, Dramas, International Movies","On his wedding day, an arrogant, greedy accoun...",NaN,NaN,NaN,NaN,NaN

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [62]:
df_top10 = df.nlargest(10, 'IMDB Score').filter(['title', 'release_year', 'IMDB Score'])
df_top10

                                            title  release_year  IMDB Score
1847     David Attenborough: A Life on Our Planet          2020         9.0
6504                      Springsteen on Broadway          2018         8.5
8620  Winter on Fire: Ukraine's Fight for Freedom          2015         8.4
1746                       Cuba and the Cameraman          2017         8.3
1805                       Dancing with the Birds          2019         8.3
3839                                        Klaus          2019         8.2
6141                                   Seaspiracy          2021         8.2
7799        The Three Deaths of Marisela Escobedo          2020         8.2
1432                                Chasing Coral          2017         8.1
4887                           My Octopus Teacher          2020         8.1

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [63]:
df_top5 = df.nsmallest(5, 'IMDB Score').filter(['title', 'release_year', 'IMDB Score'])
df_top5.sort_values(by='IMDB Score', ascending=False)

                title  release_year  IMDB Score
2263  Enter the Anime          2019         2.5
1827      Dark Forces          2020         2.6
6860          The App          2019         2.6
7568   The Open House          2018         3.2
3684      Kaali Khuhi          2020         3.4

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [68]:
condicion1=df['director'].isnull()
print(df[condicion1].shape[0])
df[condicion1]

2634

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
8,TV Show,#blackAF,NaN,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,"April 17, 2020",2020,TV-MA,NaN,TV Comedies,Kenya Barris and his family navigate relations...,NaN,NaN,NaN,NaN,NaN
12,Movie,'89,NaN,"Lee Dixon, Ian Wright, Paul Merson",United Kingdom,"May 16, 2018",2017,TV-PG,NaN,Sports Movies,"Mixing old footage with interviews, this is th...",NaN,NaN,NaN,NaN,NaN
14,TV Show,(Un)Well,NaN,NaN,United States,"August 12, 2020",2020,TV-MA,NaN,Reality TV,This docuseries takes a deep dive into the luc...,NaN,NaN,NaN,NaN,NaN
20,TV Show,100 Days My Prince,NaN,"Doh Kyung-soo, Nam Ji-hyun, Cho Seong-ha, Cho ...",South Korea,"December 7, 2020",2018,TV-14,NaN,"International TV Shows, Romantic TV Shows, TV ...","Upon losing his memory, a crown prince encount...",NaN,NaN,NaN,NaN,NaN
21,Movie,100 Days Of Solitude,NaN,NaN,Spain,"July 6, 2018",2018,TV-MA,NaN,"Documentaries, International Movies",Spanish photographer José Díaz spends 100 days...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8796,TV Show,แผนร้ายนายเจ้าเล่ห์,NaN,"Chutavuth Pattarakampol, Sheranut Yusananda, N...",NaN,"March 30, 2019",2016,TV-14,NaN,"International TV Shows, Romantic TV Shows, TV ...","When two brothers fall for two sisters, they q...",NaN,NaN,NaN,NaN,NaN
8800,TV Show,​SAINT SEIYA: Knights of the Zodiac,NaN,"Bryson Baugus, Emily Neves, Blake Shepard, Pat...",Japan,"January 23, 2020",2020,TV-14,2 Seasons,"Anime Series, International TV Shows",Seiya and the Knights of the Zodiac rise again...,NaN,NaN,NaN,NaN,NaN
8802,TV Show,忍者ハットリくん,NaN,NaN,Japan,"December 23, 2018",2012,TV-Y7,2 Seasons,"Anime Series, Kids' TV","Hailing from the mountains of Iga, Kanzo Hatto...",NaN,NaN,NaN,NaN,NaN
8803,TV Show,海的儿子,NaN,"Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,"April 27, 2018",2016,TV-14,NaN,"International TV Shows, TV Dramas","Two brothers start a new life in Singapore, wh...",NaN,NaN,NaN,NaN,NaN
8804,TV Show,마녀사냥,NaN,"Si-kyung Sung, Se-yoon Yoo, Dong-yup Shin, Ji-...",South Korea,"February 19, 2018",2015,TV-MA,NaN,"International TV Shows, Korean TV Shows, Stand...",Four Korean celebrity men and guest stars of b...,NaN,NaN,NaN,NaN,NaN

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [70]:
condicion1=df['title'].notnull()
condicion2=df['country'].notnull()
condicion3=df['IMDB Score'].notnull()
print(df[condicion1&condicion2&condicion3].shape[0])
print(df[condicion1&condicion2&condicion3]['title'].unique())
print(df[condicion1&condicion2&condicion3]['country'].unique())
df[condicion1&condicion2&condicion3]

499
['15 August' '1922' '22 July' '5 Star Christmas' '6 Balloons'
 '6 Underground' '7 años' 'A 3 Minute Hug'
 "A Babysitter's Guide to Monster Hunting" 'A California Christmas'
 'A Christmas Prince' 'A Christmas Prince: The Royal Baby'
 'A Christmas Prince: The Royal Wedding' 'A Fall from Grace'
 'A Futile and Stupid Gesture'
 'A Life of Speed: The Juan Manuel Fangio Story' 'A Love Song for Latasha'
 'A Secret Love' 'A Tale of Two Kitchens' 'A Very Murray Christmas'
 'A Week Away' 'A Whisker Away' 'AK vs AK' 'ARQ' 'After Maria'
 'After the Raid' 'Airplane Mode' 'Ajeeb Daastaans' 'Alex Strangelove'
 'Alien Xmas' 'All Because of You' 'All Day and a Night'
 'All Together Now' 'Altered Carbon: Resleeved' 'Always Be My Maybe'
 'Amanda Knox' 'Amateur' 'American Factory'
 'American Factory: A Conversation with the Obamas'
 'American Murder: The Family Next Door' 'American Son'
 'Anelka: Misunderstood' "Angela's Christmas" "Angela's Christmas Wish"
 'Apostle' 'Arlo the Alligator Boy' 'Army of the Dead' 'Athlete A'
 'Audrie & Daisy' 'Bad Trip' 'Baggio: The Divine Ponytail' 'Barry'
 'Beasts of No Nation' 'Beats' 'Becoming' 'Below Zero' 'Benji'
 'Between Two Ferns: The Movie' 'Biggie: I Got a Story to Tell'
 'Bikram: Yogi, Guru, Predator' 'Bird Box' 'Birders' 'Blue Miracle'
 'Bomb Scared' 'Brahman Naman' 'Bright' 'Bulbbul' 'Burning Sands'
 'Cadaver' 'Calibre' 'Cam' 'Candy Jar' 'Canvas' 'Cargo' 'Casting JonBenet'
 'Caught by a Wave' 'Chasing Coral' 'Choked: Paisa Bolta Hai' 'Chopsticks'
 'Christmas Crossfire' 'Christmas Inheritance' 'Circus of Books'
 'Citation' 'City of Joy' "Class of '83" 'Clinical' 'Coffee & Kareem'
 'Coin Heist' 'Come Sunday' 'Concrete Cowboy' 'Cops and Robbers'
 'Crack: Cocaine, Corruption & Conspiracy' 'Crazy About Her'
 'Crazy Awesome Teachers' 'Crip Camp: A Disability Revolution'
 'Cuba and the Cameraman' 'Da 5 Bloods' 'Dad Wanted'
 'Dance Dreams: Hot Chocolate Nutcracker' 'Dancing with the Birds'
 'Dangerous Lies' 'Dark Forces' 'David Attenborough: A Life on Our Planet'
 'Dead Kids' 'Death Note' 'Death to 2020' 'Deidra & Laney Rob a Train'
 'Desperados' 'Despite Everything' 'Dick Johnson Is Dead'
 'Dolemite Is My Name' 'Double Dad' 'Drive' 'Dude' 'Earth and Blood'
 'Earthquake Bird' 'El Camino Christmas' 'El Camino: A Breaking Bad Movie'
 'Eli' 'Elisa & Marcela' 'End Game' 'Enter the Anime'
 'Eurovision Song Contest: The Story of Fire Saga' 'Evelyn' 'Extinction'
 'Extraction' 'Extremis' 'Falling Inn Love' 'Fatal Affair'
 'Father Soldier Son' 'Father of the Year' 'Fearless' 'Feel the Beat'
 'Feminists: What Were They Thinking?' 'Ferry' 'Finding Agnes'
 'Fire in Paradise' 'Firebrand' 'First Match'
 'First They Killed My Father' 'Forgive Us Our Debts' 'Fractured'
 'GIMS: On the Record' 'Gaga: Five Foot Two' 'Game Over, Man!'
 'Geez & Ann' "Gerald's Game" 'Get Me Roger Stone' 'Get the Goat'
 'Get the Grift' 'Ghost Lab' 'Ghost Stories' 'Ghosts of Sugar Land'
 'Ginny Weds Sunny' "Girlfriend's Day" 'Giving Voice' 'Good Sam'
 'Guillermo Vilas: Settling the Score' 'Guilty'
 'Gunjan Saxena: The Kargil Girl' 'Handsome: A Netflix Mystery Movie'
 'Happy Anniversary' 'Have a Good Trip: Adventures in Psychedelics'
 'Heroin(e)' 'High Flying Bird' 'Hillbilly Elegy' 'His House'
 'Hold the Dark' 'Holidate' 'Holiday Rush' 'Holiday in the Wild'
 'Hope Frozen: A Quest to Live Twice' 'Horse Girl' 'Hot Girls Wanted'
 'House Arrest' 'How It Ends' 'Hubie Halloween' 'I Am All Girls'
 'I Am the Pretty Thing That Lives in the House'
 "I Don't Feel at Home in This World Anymore" "I'll Sleep When I'm Dead"
 "I'm No Longer Here" "I'm Thinking of Ending Things" 'IO' 'Ibiza'
 'Icarus' 'If Anything Happens I Love You' 'Imperial Dreams'
 'In the Shadow of the Moon' 'In the Tall Grass' 'Into the Inferno'
 'Intuition' 'Invader Zim: Enter the Florpus' 'Irreplaceable You'
 'Isi & Ossi' 'It Takes a Lunatic' 'Jingle Jangle: A Christmas Journey'
 'Joan Didion: The Center Will Not Hold'
 'John Was Trying to Contact Aliens' 'Joshua: Teenager vs. Superpower'
 'Juanita' 'June & Kopi' 'Just Another Christmas' 'Just Say Yes'
 'Kaali Khuhi' 'Keith Richards: Under the Influence'
 "Kevin Hart's Guide to Black History" 'Kingdom of Us' 'Klaus'
 'LA Originals' 'Ladies First' 'Laerte-se' 'Layla Majnun' 'Let It Snow'
 'Leyla Everlasting' 'Life Overtakes Me' 'Like Father' 'Lionheart'
 'Little Evil' 'Little Miss Sumo' 'Long Shot' 'Lorena, Light-Footed Woman'
 'Los Tigres del Norte at Folsom Prison' 'Lost Bullet' 'Lost Girls'
 'Love Like the Falling Rain' 'Love Wedding Repeat' 'Love, Guaranteed'
 'Ludo' 'Lust Stories' "Ma Rainey's Black Bottom" 'Madame Claude'
 'Malcolm & Marie' 'Marriage Story' 'Mascots' 'Maska' 'Mercury 13' 'Mercy'
 'Milestone' 'Miss Americana' 'Monster' 'Mowgli: Legend of the Jungle'
 'Moxie' 'Mrs. Serial Killer'
 'Mucho Mucho Amor: The Legend of Walter Mercado' 'Murder Mystery'
 'Murder to Mercy: The Cyntoia Brown Story' 'Music Teacher' 'Mute'
 'My Beautiful Broken Brain' 'My Octopus Teacher' 'My Own Man' 'Naked'
 'Nappily Ever After' 'Night in Paradise' "Nobody Knows I'm Here"
 'Nobody Sleeps in the Woods Tonight'
 'Nobody Speak: Trials of the Free Press' 'Notes for My Son'
 'Octonauts & the Caves of Sac Actun' 'Octonauts & the Great Barrier Reef'
 'Offering to the Storm' 'Okja' 'On My Skin' 'One Take' 'One of Us'
 'One-Way to Tomorrow' 'Operation Christmas Drop' 'Otherhood'
 'Our Souls at Night' 'Out of Many, One' 'Outlaw King' 'Outside the Wire'
 'Over the Moon' 'Oxygen' 'Paddleton' 'Pagglait' 'Paper Lives' 'Paradox'
 'Paris Is Us' "Pee-wee's Big Holiday" 'Period. End of Sentence.'
 'Pieces of a Woman' 'Point Blank' 'Polar' 'Private Life' 'Project Power'
 'Quincy' 'Raat Akeli Hai' 'Rajma Chawal' 'Ram Dass, Going Home'
 'Rattlesnake' 'ReMastered: Devil at the Crossroads'
 'ReMastered: Massacre at the Stadium'
 'ReMastered: The Miami Showband Massacre'
 'ReMastered: The Two Killings of Sam Cooke' 'Rebecca' 'Rebirth'
 'Recovery Boys' 'Red Dot' 'Resurface' 'Reversing Roe' 'Rich in Love'
 'Ride or Die' 'Rim of the World' 'Rising High' 'Rising Phoenix'
 "Rocko's Modern Life: Static Cling" 'Rodney King' 'Rogue City'
 'Rooting for Roona' 'Rose Island' 'Roxanne Roxanne' 'Sand Castle'
 'Sandy Wexler' "Sarah Cooper: Everything's Fine" 'Sardar Ka Grandson'
 'Saving Capitalism' 'Seaspiracy' 'Secret Obsession'
 'Secrets of the Saqqara Tomb' 'See You Yesterday' 'Seeing Allred'
 'Sentinelle' 'Sergio' 'Serious Men' 'Seriously Single' 'Set It Up'
 'Seventeen' 'Sextuplets' 'Shawn Mendes: In Wonder'
 'Shawn Mendes: Live in Concert' 'Shimmer Lake' 'Shirkers'
 'Sitara: Let Girls Dream' 'Sky Ladder: The Art of Cai Guo-Qiang'
 'Small Crimes' 'Sol Levante' 'Someone Great' 'Sometimes' 'Soni'
 'Space Sweepers' 'Special Correspondents' 'Spectral' 'Spelling the Dream'
 'Spenser Confidential' 'Springsteen on Broadway' 'Squared Love'
 'Step Sisters' 'Street Flow' 'Strip Down, Rise Up' 'Strong Island'
 'Stuck Apart' 'TAU' 'Take Your Pills' 'Take the 10' 'Tall Girl'
 'Tallulah' 'Team Foxcatcher' 'Tell Me Who I Am' 'Tersanjung the Movie'
 'The After Party' 'The American Meme' 'The Angel' 'The App'
 'The Babysitter' 'The Babysitter: Killer Queen'
 'The Ballad of Buster Scruggs' 'The Beast' 'The Binding'
 'The Black Godfather' 'The Bleeding Edge' 'The Boys in the Band'
 'The Boys in the Band: Something Personal' 'The Call'
 'The Christmas Chronicles' 'The Christmas Chronicles: Part Two'
 'The Claudia Kishi Club' 'The Cloverfield Paradox' 'The Crimes That Bind'
 'The Day of the Lord' 'The Death and Life of Marsha P. Johnson'
 'The Decline' 'The Dig' 'The Dirt' 'The Disciple' 'The Discovery'
 'The Do-Over' 'The Edge of Democracy' 'The Forest of Love'
 'The Fundamentals of Caring' 'The Girl on the Train' 'The Great Hack'
 'The Heartbreak Club' 'The Highwaymen' 'The Holiday Calendar'
 'The Incredible Jessica James' 'The Irishman'
 'The Irishman: In Conversation' 'The Ivory Game' 'The Killer' 'The King'
 'The Kissing Booth' 'The Kissing Booth 2' 'The Knight Before Christmas'
 'The Land of Steady Habits' 'The Larva Island Movie'
 'The Last Days of American Crime' 'The Last Laugh' 'The Last Paradiso'
 'The Last Thing He Wanted' 'The Laundromat'
 'The Legacy of a Whitetail Deer Hunter' 'The Legend of Cocaine Island'
 'The Life Ahead' 'The Lovebirds' 'The Main Event' 'The Mars Generation'
 'The Meyerowitz Stories (New and Selected)' 'The Midnight Sky'
 'The Minimalists: Less Is Now' 'The Misadventures of Hedi and Cokeman'
 'The Most Assassinated Woman in the World'
 'The Most Hated Woman in America' 'The Night Comes for Us' 'The Occupant'
 'The Old Guard' 'The Open House'
 'The Other One: The Long Strange Trip of Bob Weir'
 'The Other Side of the Wind' 'The Outsider' 'The Package' 'The Paramedic'
 'The Perfect Date' 'The Perfection' 'The Players' 'The Polka King'
 'The Princess Switch' 'The Princess Switch: Switched Again' 'The Prom'
 'The Rachel Divide' 'The Red Sea Diving Resort' 'The Ridiculous 6'
 'The Siege of Jadotville' 'The Sleepover' 'The Social Dilemma'
 'The Speed Cubers' 'The Three Deaths of Marisela Escobedo'
 'The Trial of the Chicago 7' 'The Two Popes' 'The Week Of'
 'The White Helmets' 'The White Tiger' 'The Willoughbys'
 'The Woman in the Window' 'The Wrong Missy' 'Thunder Force' 'Tig'
 'Tigertail' 'Time to Hunt' 'To All the Boys: P.S. I Still Love You'
 'To Each, Her Own' 'To the Bone' 'Tony Parker: The Final Shot'
 'Tony Robbins: I Am Not Your Guru' 'Tramps'
 'Travis Scott: Look Mom I Can Fly' 'Triple Frontier'
 'True Memoirs of an International Assassin' 'Two Catalonias' 'Ultras'
 'Uncorked' 'Under the Riccione Sun' 'Unicorn Store' 'Unknown Origins'
 'Upstarts' 'Vampires vs. the Bronx' 'Velvet Buzzsaw' 'Walk. Ride. Rodeo.'
 'War Machine' 'We Are One' 'We Can Be Heroes' 'What Happened to Mr. Cha?'
 'What Happened, Miss Simone?' 'What We Wanted'
 'What Would Sophia Loren Do?' 'Wheelman' 'When We First Met' 'Whipped'
 'Who Would You Take to a Deserted Island?' 'Why Did You Kill Me?'
 'Win It All' 'Wine Country' "Winter on Fire: Ukraine's Fight for Freedom"
 'Work It' 'XOXO' 'Yeh Ballet' "You've Got This" 'Zion']
['India' 'United States' 'Norway, Iceland, United States' 'Italy' 'Spain'
 'Mexico, United States' 'Argentina' 'United States, Mexico' 'Japan'
 'Canada, United States' 'Malaysia' 'Japan, United States' 'Philippines'
 'Denmark, United States' 'France' 'Ireland, Canada'
 'United Kingdom, United States' 'United Arab Emirates, United States'
 'India, United Kingdom' 'Norway' 'United Kingdom'
 'United States, Australia, China' 'Germany' 'Nigeria' 'United States,'
 'Indonesia' 'Mexico' 'United States, United Kingdom'
 'Philippines, United States' 'Brazil' 'France, Belgium'
 'United Kingdom, Japan, United States' 'United States, Japan'
 'United States, United Kingdom, Canada' 'Canada' 'Belgium, Netherlands'
 'Cambodia, United States' 'Italy, Switzerland, Albania, Poland'
 'Thailand' 'Thailand, United States' 'South Africa'
 'United States, Canada' 'United Kingdom, Germany, Canada'
 'South Korea, United States' 'United States, United Kingdom, Germany'
 'Netherlands' 'Spain, United Kingdom' 'United States, Argentina' 'Turkey'
 'Sweden, United States' 'United Kingdom, Italy' 'United Kingdom, Germany'
 'South Korea' 'Chile' 'Poland' 'Netherlands, United States'
 'Spain, Germany' 'Hungary, United States' 'China, United States'
 'France, United States' 'Canada, Hungary, United States'
 'United States, Germany' 'Sweden' 'Pakistan, United States'
 'Canada, United Kingdom, United States' 'United States, Hungary'
 'United States, Denmark' 'Israel, United States'
 'Australia, United States' 'Mexico, Spain' 'Greece, United States'
 'Austria' 'United Kingdom, Hungary, Australia'
 'Belgium, United Kingdom, United States' 'Indonesia, United States'
 'France, Iran, United States' 'Ireland, South Africa'
 'United States, United Kingdom, India' 'India, United States'
 'Canada, United States, United Kingdom'
 'United Kingdom, Ukraine, United States']

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Genre,Premiere,Runtime,IMDB Score,Language
41,Movie,15 August,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ...",Comedy-drama,"March 29, 2019",124.0,5.8,Marathi
49,Movie,1922,Zak Hilditch,"Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...",United States,"October 20, 2017",2017,TV-MA,NaN,"Dramas, Thrillers",A farmer pens a confession admitting to his wi...,Horror/Crime drama,"October 20, 2017",102.0,6.3,English
70,Movie,22 July,Paul Greengrass,"Anders Danielsen Lie, Jon Øigarden, Jonas Stra...","Norway, Iceland, United States","October 10, 2018",2018,R,144 min,"Dramas, Thrillers","After devastating terror attacks in Norway, a ...",Drama,"October 10, 2018",144.0,6.8,English
108,Movie,5 Star Christmas,Marco Risi,"Massimo Ghini, Ricky Memphis, Martina Stella, ...",Italy,"December 7, 2018",2018,TV-14,NaN,"Comedies, International Movies",When the Italian prime minister meets his love...,Comedy,"December 7, 2018",95.0,4.6,Italian
115,Movie,6 Balloons,Marja Lewis Ryan,"Abbi Jacobson, Dave Franco, Jane Kaczmarek, Ti...",United States,"April 6, 2018",2018,TV-MA,75 min,"Dramas, Independent Movies",A loyal sister struggles to stay afloat while ...,Drama,"April 6, 2018",75.0,5.9,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8649,Movie,Work It,Laura Terruso,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,"August 7, 2020",2020,TV-14,NaN,Comedies,A brilliant but clumsy high school senior vows...,Dance comedy,"August 7, 2020",93.0,6.1,English
8673,Movie,XOXO,Christopher Louie,"Sarah Hyland, Graham Phillips, Chris D'Elia, H...",United States,"August 26, 2016",2016,TV-MA,NaN,"Dramas, Music & Musicals","The lives of a budding DJ, his loyal pal, a ho...",Drama,"August 26, 2016",92.0,5.3,English
8694,Movie,Yeh Ballet,Sooni Taraporevala,"Julian Sands, Manish Chauhan, Achintya Bose, J...",India,"February 21, 2020",2020,TV-MA,117 min,"Dramas, International Movies","Discovered by an eccentric ballet master, two ...",Drama,"February 21, 2020",117.0,7.6,Hindi
8727,Movie,You've Got This,Salvador Espinosa,"Mauricio Ochmann, Esmeralda Pimentel, Matteo G...",Mexico,"October 2, 2020",2020,TV-MA,112 min,"Comedies, International Movies, Romantic Movies",An ad creative and a successful exec have a gr...,Romantic comedy,"October 2, 2020",111.0,5.8,Spanish
8768,Movie,Zion,Floyd Russ,Zion Clark,United States,"August 10, 2018",2018,TV-PG,12 min,"Documentaries, Sports Movies",Born without legs and stuck in foster care for...,Documentary,"August 10, 2018",11.0,7.2,English

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [73]:
condicion1=df['title'].duplicated()
print(f'Hay {df[condicion1].shape[0]} titulos duplicados')
print(df[condicion1]['title'].unique())

Hay 0 titulos duplicados
[]